<!-- Boostrap Navbar on Google -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">E-Commarce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">My Orders</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"routerLink="/products">Products</a></li>
              <li><a class="dropdown-item" routerLink="/categories">Categories</a></li>
            </ul>
          </li>
        </ul>
        <!--This is the numbers on top of the icon-->
        <button routerLink="/carts" type="button" class="btn btn-outline-success position-relative">
            <!--This is the icon-->
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
              {{_cart.count}}
            </span>
        </button>
        <button class="btn btn-outline-danger mx-1" type="button">Exit</button>
      </div>
    </div>
  </nav>