<app-blank title="Purchase History" sectionTitle="Review Your Purchases">
    <app-table [heads]='["#", "Purchase Date", "Product Images","Product Name", "Quantity","Quantity Price","Total"]'>
        <tr *ngFor="let order of orders; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{order.createdDate |date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>
                <img [src]="'http://localhost:5001/' + order?.products[0]?.imageUrls[0]?.path" width="50">
            </td>
            <td>{{ order?.products[0]?.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price + '₺' }}</td>
            <td>{{ (order.price * order.quantity) + '₺' }}</td> <!-- Total Price Calculation -->
        </tr>
    </app-table>
</app-blank>
